.jumbotron {
  background-color: #f4511e;
  color: #ffffff;
  padding: 100px 25px;
}

.subscribButton {
  background-color: #d9534f;
  color: #ffffff; 
}

.bg-grey {
  background-color: #f6f6f6;
}

.container-fluid {
  padding: 60px 50px;
}

.logo {
  font-size: 200px;
  color: #f4511e;
}

.logo-small {
  color: #f4511e;
  font-size: 50px;
}

.img-responsive {
  width: 100%;
}

.portfolio {
  color: #818181;
}

.portfolio-lable {
  margin-top: 10px;
}

.portfolio-heading {
  margin-bottom: 40px;
}

h2 {
  font-size: 25px;
  margin-bottom: 40px;
  font-weight: bold
}

.customer-review { 
  margin-top: 80px;
  margin-bottom: 80px;
}

.img-title {
  background-color: #ffffff;
  padding-bottom: 15px;
}

.carousel-control {
  font-size: 30px;
  background-image: none !important;
  top: 20px;
}

.carousel-inner p {
  font-size: 20px;
}

.fa-chevron-left:before, .fa-chevron-right:before {
  color: #f4511e;
}

.carousel-indicators { 
  margin-bottom: -50px;
}

.carousel-indicators li {
  border-color: #f4511e;
}

.carousel-indicators .active {
  background-color: #f4511e;
}

.pricing-header {
  color: white;
  background-color: #f4511e;
  padding: 30px;
  font-size: 35px;
}

.pricing-list {
  list-style: none;
  padding-left: 0;
}

.pricing-list p {
  padding: 10px 0;
}

.pricing {
  padding: 0;
  margin: 0 15px;
  border: 2px solid #f4511e;
}

hr {
  border-top: 1px solid #0a0a0a61;
}

.pricing-value {
  font-size: 30px;
  margin-bottom: 0;
}

.sign-up{
  margin: 20px;
  font-size: 20px;
  background-color: #f4511e;
}
